@{
    ViewData["BodyBg"] = "bg-secondary";
    var avtrid = Context.Session.GetString("avatar") + ".png";
    var fname = Context.Session.GetString("first_name");
    var userrole = Context.Session.GetString("role");
}
<div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
    <div class="row pt-sm-2 pt-lg-0" id="app">

        <!-- Page content-->
        <div class="col-lg-12 pt-4 pb-2 pb-sm-4">
            <h1 id="sectionTitle" class="h2 mb-4">{{viewTitle}}</h1>
            <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4 fade-in">
                @Html.AntiForgeryToken()
                <div class="card-body">
                    <router-view></router-view>
                </div>
            </section>
        </div>
    </div>
</div>
<hr class="d-none d-dark-mode-block">


@section jsScripts{
   
    <script>

        var glUsername = "@Model.UserName";
        var glFirstName = "@Model.FirstName";
        var glLastName = "@Model.LastName";
        var glPhone = "@Model.Phone";
        var glEmail = "@Model.EMail";
        //var glAvatar = "@avtrid";
        var glAvatar = "@avtrid";
        var glGender = "@Model.Gender";
        var glRole = "@userrole";
        var glBio = "@Model.Bio";
        //var glAvtImage = "@Context.Session.GetString("avatar")" + ".png";
        var glAvtImage = "default.png"
       
    </script>
    <script src="~/reactors/profilereactor.js"></script>
}