@{
    ViewData["BodyBg"] = "bg-secondary";
    var avtrid = Context.Session.GetString("avatar") + ".png";
    var fname = Context.Session.GetString("first_name");
    var role = Context.Session.GetString("role");
    ViewData["ActivePage"] = "personalize";
}

<div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
    <div class="row pt-sm-2 pt-lg-0">
<div class="col-md-12 pt-4 pb-2 pb-sm-4">
    <h1 class="h2 mb-4">Personalize</h1>
    <!-- Basic info-->
    <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
        <div class="card-body">
            <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3">
                <i class="ai-user text-primary lead pe-1 me-2"></i>
                <h2 class="h4 mb-0">Themes</h2>
            </div>
            <div class="col-lg-12 fade-in">
                        <div class="row row-cols-1 row-cols-sm-2 g-1">
                    @if (Model != null)
                    {
                        @foreach (var theme in Model)
                        {
                            <div class="col-lg-3">
                                <div class="card-flip card-lifted">
                                    <div class="card-flip-inner">
                                        <div class="card-flip-front rounded-3" style="background-image: url(@("/assets/images/theme_covers/" + @theme.CoverImage + ".jpg"));">
                                            <div class="d-flex flex-column h-100 ignore-dark-mode">
                                                <span id="badge_@theme.Id" class="badge badgetarget theme-badge bg-dark" style="color:@theme.PrimaryCol"></span>
                                                <h2 class="fs-lg fw-normal mb-0 mt-auto">@theme.Title</h2>
                                            </div>
                                        </div>
                                        <div class="card-flip-back card-lifted rounded-3 bg-secondary">

                                            <div class="d-flex flex-column h-100 px-sm-2 pt-sm-2 px-lg-0 pt-lg-0 px-xl-3 pt-xl-3">
                                                <h3 class="h4">@theme.Title</h3>
                                                <span style="color: @theme.PrimaryCol">(@theme.PrimaryCol)</span>
                                                <p class="text-body mb-3">
                                                    @theme.Description
                                                </p>
                                                <span class="d-block rounded-square"
                                                      style="width: 5rem; height: 1.5rem; border-radius: 5px; background-color: @theme.PrimaryCol ;"></span>
                                                <div class="text-end pt-3 pt-sm-2 pt-xl-4 mt-auto me-sm-n2 me-lg-0 me-xl-n3">
                                                    <button type="button" id="@theme.Id" style="color: @theme.PrimaryCol ;" class="btn rounded-pill outline" onclick="applTheme(this.id)"><i class="ai-arrow-right"></i> Apply </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

        </div>
    </section>

    <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
        <div class="card-body">
            <div class="d-flex align-items-center pb-4 mt-sm-n1 mb-0 mb-lg-1 mb-xl-3">
                <i class="ai-bell text-primary lead pe-1 me-2"></i>
                <h2 class="h4 mb-0">Accessibility</h2>
            </div>
            <div class="form-check form-switch d-flex pb-md-2 mb-4">
                <input class="form-check-input flex-shrink-0 dark_mode_trigger" type="checkbox" id="dmode-trigger" />
                <label class="form-check-label ps-3 ps-sm-4" for="dark-mode">
                    <span class="h6 d-block mb-2">Dark Mode</span><span class="fs-sm text-muted">A whole new material dark mode experience.</span>
                </label>
            </div>
            <div class="form-check form-switch d-flex">
                <input class="form-check-input flex-shrink-0" type="checkbox" disabled id="daily-summary" />
                <label class="form-check-label opacity-100 ps-3 ps-sm-4" for="daily-summary">
                    <span class="h6 text-muted d-block mb-2">
                        Another Feature<span class="badge bg-faded-danger text-danger ms-3">id</span>
                    </span><span class="fs-sm text-muted">Some feature description</span>
                </label>
            </div>
            <div class="form-check form-switch d-flex">
                <input class="form-check-input flex-shrink-0" type="checkbox" disabled id="daily-summary" />
                <label class="form-check-label opacity-100 ps-3 ps-sm-4" for="daily-summary">
                    <span class="h6 text-muted d-block mb-2">
                        Larger Fonts<span class="badge bg-faded-danger text-danger ms-3">id</span>
                    </span><span class="fs-sm text-muted">make fonts a bit larger</span>
                </label>
            </div>


        </div>
    </section>


</div>
</div></div>

@section jsScripts
    {
    <script>





        var checkbox = document.getElementById("dmode-trigger");
        var checkbox2 = document.getElementById("theme-mode");

        document.addEventListener("DOMContentLoaded", function () {
            if (checkbox2.checked == true) {
                checkbox.checked = true;
            } else {
                checkbox.checked = false;
            }
        });

        var activeThemeId = localStorage.getItem("badge");
        if (activeThemeId === undefined || activeThemeId === null) {
            document.getElementById("badge_1").innerText = "Active";
        }
        else {
            let badgeid = "badge_" + activeThemeId;
            document.getElementById(badgeid).innerText = "Active";
        }
        function applTheme(id) {
            axios.get('/api/theme/' + id)
                .then(function (response) {
                    document.getElementById("custom_theme").innerHTML = response.data[0].string;
                    localStorage.setItem("cust_theme", response.data[0].string);
                    document.getElementById("custom_font").setAttribute("href", response.data[0].fontLink);
                    localStorage.setItem("cust_font", response.data[0].fontLink);
                    localStorage.setItem("badge", id);

                    var elements = document.getElementsByClassName("badgetarget");
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].innerText = "";
                    }
                    let badgeid = "badge_" + localStorage.getItem("badge");
                    document.getElementById(badgeid).innerText = "Active";
                    toaster("success", "applied")
                })
                .catch(function (error) {
                    console.error(error);
                });
        }



        checkbox.addEventListener("change", function () {
            if (checkbox.checked) {
                root.classList.add('dark-mode');
                localStorage.setItem('mode', 'dark');
                checkbox2.checked = true;
            } else {
                root.classList.remove('dark-mode');
                localStorage.removeItem('mode');
                checkbox2.checked = false;
            }
        });
        checkbox2.addEventListener("change", function () {
            if (checkbox2.checked) {
                checkbox.checked = true;
            } else {
                checkbox.checked = false;
            }
        });



    </script>
   }

@section cssStyles
    {
    <link rel="stylesheet" media="screen" href="/assets/vendor/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" media="screen" href="/assets/vendor/lightgallery/css/lightgallery-bundle.min.css" />
    <style>
        .hidden {
            display: none !important;
        }
    </style>
   }